<configuration scan="true" scanPeriod="1 seconds">

    <appender name="SETUP-MDC" class="io.aviso.logging.CorrelationIdAppender"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{HH:mm:ss.SSS} %mdc{correlation-id} %-5level [%thread] %logger{} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="SETUP-MDC"/>
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>